<button md-mini-fab (click)="toggleSearchBar()">
  <md-icon>search</md-icon>
</button>

<section [hidden]="!showSearchBar">
    <div class="search_box" [class.showBouncer]="showBouncer">
        <bouncer [bounceIf]="showBouncer"></bouncer>
        <input
                type="text"
                class="input-text"
                [(ngModel)]="searchQuery"
                #search
                placeholder="Ange adress"
                (setAddress)="onAddressChoosen($event)"
                googleplace
        />
    </div>
</section>
