@import "../../../styles/mixins";
@import "../../../styles/variables";

.container {
  background-color: rgba(44, 49, 66, 1);
  color: #fff;
  padding: 0 30px;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.1em;

  &.center {
    text-align: center;
    align-items: center;
  }

  .window {
    width: 450px;
    max-width: 100%;

    &.wide {
      width: 600px;
    }

    /deep/ p {
      margin: auto;
      margin-bottom: 30px;
    }
  }
}
