<section [ngClass]="{'open': isOpen}">
    <div class="inner">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <div class="progress">
            <div class="progress-bar" [ngStyle]="{'width': progressBarWidth + '%'}"></div>
            <div class="c1" [ngClass]="{color: currentStep > 0 }"></div>
            <div class="c2" [ngClass]="{color: currentStep > 1 }"></div>
            <div class="c3" [ngClass]="{color: currentStep > 2 }"></div>
        </div>
    </div>
</section>

<hs-spinner></hs-spinner>