@import "../../scss/mixins";
@import "../../scss/variables";

:host {
  /deep/ #infoBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 0;
    background: #fff;
    z-index: 5;
    @include box-sizing(border-box);

    @include transition-property(all);
    @include transition-duration(.5s);
    @include transition-timing-function(cubic-bezier(0, 1, 0.5, 1));

    &.open {
      max-height: 120px;
    }

    .inner {
      padding: 19px;

      .content {
        position: relative;
        overflow: hidden;
        height: 63px;

        .button {
          position: absolute;
          right: 0px;
          bottom: 0px;
          padding: 10px 20px;
          background-color: $blue;
          color: #fff;
          line-height: 16px;
          min-height: 0;
          @include border-radius(2px);
          cursor: pointer;
          @include transition-property(all);
          @include transition-duration(300ms);

          &:hover {

            background-color: $blue_hover;
          }
        }

        .fb_iframe_widget {

          float: right;
          margin-top: 23px;
        }

        h1 {

          font-size: 1em;
          margin: 0 0 3px 0;
        }

        p {

          margin: 0;
          font-size: 0.9em;

          @media (max-width: $screen_small) {

            max-width: 200px;
          }
        }

        .step1, .step2, .step3 {

          float: left;
        }

      }

      .progress {

        position: relative;
        display: block;
        background-color: $gray;
        height: 4px;
        margin-top: 15px;
        @include border-radius(4px);

        .c1, .c2, .c3 {

          position: absolute;
          background-color: $gray;
          width: 16px;
          height: 16px;
          margin-top: -6px;
          @include border-radius(10px);
          @include transition-property(all);
          @include transition-duration(300ms);

          &.color {

            background-color: $blue;
          }
        }

        .c2 {

          left: 50%;
          margin-left: -8px;
        }

        .c3 {

          right: 0;
        }

        .progress-bar {

          background-color: #498af3;
          height: 4px;
          position: absolute;
          @include border-radius(4px);
        }
      }
    }
  }
}