<router-outlet></router-outlet>
<hs-map *ngIf="currentStep > 1"></hs-map>
<hs-consumerLocator></hs-consumerLocator>
<section id="infoBox" [ngClass]="{'open': true}">
    <div>
        <div class="inner">
            <div class="content">
                <router-outlet name="infoBoxContent"></router-outlet>
            </div>
            <div class="progress">
                <div class="progress-bar" [ngStyle]="{'width': progressBarWidth + '%'}"></div>
                <div class="c1 color"></div>
                <div class="c2" [ngClass]="{color: currentStep > 1 }"></div>
                <div class="c3" [ngClass]="{color: currentStep > 2 }"></div>
                <div class="c4" [ngClass]="{color: currentStep > 3 }"></div>
            </div>
        </div>
    </div>
</section>
