<div class="start">
  <div class="row" set-relative-height="0">
    <div class="col col-center">
      <div class="window">
        <img src="/assets/images/logo.png" alt="Hitta skyddsrum" />
        <p>Vi hjälper dig att hitta ditt närmaste skyddsrum. Så att du vet vart du ska ta vägen när det verkligen behövs.</p>
        <a class="button" routerLink="/skyddsrum/var-ar-du" ng-class="{loading: loading}">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <span class="text">Börja nu</span>
        </a>
        <div class="fb-like" data-href="http://www.hittaskyddsrum.se" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
      </div>
    </div>
  </div>
</div>