<section>
    <div class="search_box" [ngClass]="{showBouncer: showBouncer === true}">
        <bouncer
                [bounceIf]="showBouncer"
        ></bouncer>
        <input
                type="text"
                class="input-text"
                [(ngModel)]="searchQuery"
                (ngModelChange)="lookupAddress($event)"
                placeholder="Ange adress"
        />
        <ul class="autocomplete">
            <li *ngFor="let address of addressSuggestions;">
                <a (click)="chooseAddress(address)" [routerLink]="['/skyddsrum/koordinater', address.geometry?.location.lat(), address.geometry?.location.lng()]">
                    {{address.formatted_address}}
                </a>
            </li>
        </ul>
    </div>
</section>